@import "tailwindcss";

:root {
  --background: #0c0e12;
  --foreground: #ededed;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mulish);
  --font-display: var(--font-bebas-neue);
}

@theme {
  --font-display: var(--font-bebas-neue);

  --color-black-900: #0c0e12;
  --color-black-800: #1a1d22;
  --color-black-700: #272932;
  --color-black-600: #2f313b;
  --color-black-500: #3b3d49;
  --color-black-400: #52535b;
  --color-black-300: #696a6d;
  --color-black-200: #858688;
  --color-black-100: #b6b7b8;

  --color-yellow-500: #ffcf4c;

  --font-size-5xl: 4rem;

  --font-family-sans: var(--font-mulish), ui-sans-serif, system-ui, sans-serif;
  --font-family-display:
    var(--font-bebas-neue), ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  background-image: url("/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--foreground);
  font-family: var(--font-mulish), Arial, Helvetica, sans-serif;
}

.font-display {
  font-family: var(--font-bebas-neue), Arial, Helvetica, sans-serif;
}
